{% extends 'tutors/base2.html' %}
 {% block content %}
 {% load static %}
  <header class="showcase">
      <h2>Prepare to speak confidantly</h2>
      <p>
        with online tutors
      </p>
      <form>
      <input type="text" name="search" placeholder="What do you want to learn?">
      <button>submit</button>
    </form>

    </header> 
     <section class="languages">
          <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>English language</h2>
          <p>125 tutors</p>
        </li>
         </ul>
              <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>Chinese language</h2>
          <p>125 tutors</p>
        </li>
          </ul>

            <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>Russian language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
            <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>German language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
            <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>German language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
             <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>Italian language</h2>
          <p>125 tutors</p>
         </li>
           </ul>
            <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>Japanese language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
                <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>Spanish language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
            <ul>
        <li>
          <i class="fab fa-speakap fa-3x"></i>
          <h2>French language</h2>
          <p>125 tutors</p>
        </li>
           </ul>
     </section>
     <section class="languages-2">
      <div class="up-service">  
        <h2>Make the World your comfort zone</h2>
        <p> Speak naturally with professional online tutors from 185 countries</p>
      </div>
 

        <div class="service"> 
       <ul>
        <li>
          <i class="fas fa-file-export fa-3x" ></i>
          <h4>Expert totors</h4>
          <p>Find native speakers and certified private tutors</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-tags fa-3x"></i>
          <h4>Affordable Prices</h4>
          <p>Choose an experienced tutor that fits your budget</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-calendar-alt fa-3x"></i>
          <h4>Learn Anytime</h4>
          <p>Take online lessons at the perfect time for your busy schedule</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-id-card fa-3x"></i>
          <h4>Verified Profiles</h4>
          <p>We carefully check and confirm each tutor's profile</p>
        </li>
          </ul>
         </div>
         <hr>
         <div class="up-service"> 
        <h2>Focus on the skills you need</h2>
        <p> Prepare to achieve your goals with private tutors</p>
      </div>

      <div class="service-2"> 
       <ul>
        <li>
          <i class="fas fa-file-export fa-3x" ></i>
          <h4>mmerse yourself in a new culture</h4>
          <p>Connect with language experts from around the world</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-tags fa-3x"></i>
          <h4>Get expert help when you need it</h4>
          <p>Learn to solve any problem in any language</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-calendar-alt fa-3x"></i>
          <h4>Succeed in your career</h4>
          <p>Develop your working vocabulary and communicate clearly</p>
        </li>
          </ul>
          <ul>
        <li>
          <i class="fas fa-id-card fa-3x"></i>
          <h4>Speak naturally, always</h4>
          <p>Make a good impression and build trust in any language</p>
        </li>
          </ul>
         </div>
         <hr> 
          <div class="up-service">  
        <h2>Request A private tutor</h2>
        <p> Post your requirements and let tutors find you</p>
        <button>Post a Reqest</button>
      </div>
 
     </section>

{% endblock content %}